.mypic{
    float:right;
    width: 20;
    height: 20;
}
#strong{
    background-color: darkblue;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
body{
    background-color: thistle;
}
#contactat{
    flex: 1;
    flex-direction: row;
   background-color: maroon;
    height: 100;
    color: white;
    width: 300;
    margin-right: 5;
    margin-right: 10;
    float: left;
    justify-content: baseline;
}